@use "../abstract/colors";
@use "../abstract/fonts";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.4;
    font-size: 18px;
}

body {
    box-sizing: border-box;
    background-color: colors.$color-background-main;
    font-family: fonts.$font-main;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    color: colors.$color-primary-blue;
}
