$color-primary-blue: hsl(215, 51%, 70%);
$color-primary-cyan: rgb(0, 255, 247);
$color-primary-hover-cyan: rgb(0, 255, 247, 0.5);
$color-background-main: hsl(217, 54%, 11%);
$color-shadow-card: hsl(215, 49%, 12%);
$color-background-card: hsl(216, 50%, 16%);
$color-line: hsl(215, 32%, 27%);
$color-white: hsl(0, 0%, 100%);
$color-text-white: rgb(255, 255, 255, 0.6);
